
<% if @products.any? %>
    <% @products.each do |product| %>
  <div class="purchases">

    <div class="purchase_header">
      <%= l product[:created_at].to_date, format: '%e %B %Y' %>
      <span>Total price: <b><%= product[:amount] %></b></span>
    </div>

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" >Name</th>
          <th scope="col" >Quantity</th>
          <th scope="col" >Price</th>
        </tr>
      </thead>
        <tbody>
          <% product[:descriptions].each do |desc| %>
            <tr>
              <td><%= desc[:item][:name] %></td>
              <td><%= desc[:quantity] %></td>
              <td><%= desc[:item][:price] %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <hr>
<% end %>

  <% else %>
  <div class="purchases_empty">
    <h3>Noting here</h3>
    <%= link_to "Back", root_path, class: "btn btn-secondary ", role: "button" %>
  </div>
<% end %>


