
<div class="search_container">
    <form action="/search" method="get" autocomplete="off">
        <input type="text" class="form-control" id="exampleFormControlInput1" value="<%= search_value %>" placeholder="Search..." name="query">
    </form>


</div>

<div class="row row-cols-3 card_container">
  <% @items.present? && items.each do |item|  %>
    <div class="card product_card">
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-img-top product_img_fake"></div>
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text"><%= item.description %></p>

        <div class="product_card_footer">
          <span><%= item.price %>$</span>
          <%= form_with url: '/cart', method: :post do |f| %>
            <%= f.hidden_field :product_id, value: item.id %>
            <%= f.number_field :quantity, value: 1, min: 1, step: 1, max: 15, class: 'quantity_field' %>
            <%= f.submit "Buy", role: 'button', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>